@model IEnumerable<Tienda.Web.Data.Entities.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>


<div class="row">
    @foreach (var item in Model)
    {

    <div class="col-md-4" style="margin-top: 10px">
        <div class="card">
            @if (!string.IsNullOrEmpty(item.ImageUrl))
            {
                <div class="text-center" style="margin-top: 10px">

                    <img src="@Url.Content(item.ImageUrl)" class="card-img-top" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
                </div>
            }

            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name) <span class="text-success pull-right"> @Html.DisplayFor(modelItem => item.Price)</span></h5>
                <hr />
                <div class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#colapse_@item.Id" aria-expanded="true" aria-controls="#colapse_@item.Id">
                        Details
                    </button>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger pull-right"><span class="fa fa-trash"></span></a>
                    
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info pull-right" style="margin-right:5px !important"> <span class="fa fa-edit"></span></a>

                </div>


            </div>
            <div id="colapse_@item.Id" class="collapse" aria-labelledby="headingOne">
                <div class="card-body">
                    <p>
                        <strong>Last Purchase: </strong> @Html.DisplayFor(modelItem => item.LastPurchase)
                    </p>
                    <p>
                        <strong>Last Sale: </strong> @Html.DisplayFor(modelItem => item.LastSale)
                    </p>
                    <div class="row">

                    @if (item.IsAvailabe == true)
                    {
                        <p class="text-success col-md-6">
                            Is Aviable
                        </p>
                    }
                    else
                    {
                        <p class="text-danger col-md-6">
                            Not Aviable
                        </p>
                    }

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-link col-md-6">More Details</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    }
</div>